@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0062;
}

.container {
    display: flex;
    position: relative;
    height: 400px;
    width: 600px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    overflow: hidden;
    cursor: none;
}

.text {
    margin: auto;
    font-size: 8em;
    font-weight: 900;
}

.cursor {
    height: 30px;
    width: 30px;
    background: #00ff9d;
    position: absolute;
    translate: -50% -50%;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: scale(0);
    transition: 0.2s;
}

.container:hover .cursor{
    transform: scale(1);
    transition: 0.2s;
}

.text:hover ~ .cursor{
    transform: scale(5);
    transition: 0.2s;
}