@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper {
    color: #fff;
    position: absolute;
    width: 100%;
    left: 15%;
}

span {
    color: #fff;
    font-size: 7.5vw;
    font-weight: 500;
    letter-spacing: 1px;
}

.multiText {
    font-weight: 800;
    color: #00a2ed;
    text-transform: capitalize;
}