body {
    background-color: #a5b1c2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.morphing-bg {
    width: 750px; height: 300px;
    background: linear-gradient(45deg, #ee7762, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite, morph 5s ease infinite;
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.4);
    border: 2.5px solid #eee;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes morph {
    0%, 100% {
        transform: perspective(500px) rotateY(0deg) scale(1);
    }
    50% {
        transform: perspective(500px) rotateY(5deg) scale(1.02);
    }
}