* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background: #3b444e;
}

.gridbox {
    height: 55px;
    width: 55px;
    border: .5px solid;
    filter: hue-rotate(0deg);
    transition: 1.8s ease;
    &:hover {
        background: #47f0ff;
        filter: hue-rotate(360deg);
        transition: 0s ease;
    }
}