@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: 'space Grotesk';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%), url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.sidebar {
    position: fixed;
    width: 135px; height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    padding: 20px;
    list-style: none;
}

.nav-item {
    position: relative;
    padding: 15px 20px;
    margin: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    color: white;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(10px);
}

.nav-item i {
    font-size: 1.5rem;
    margin-right: 20px;
}

.nav-item svg {
    color: #fff;
    width: 25px; height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.nav-item span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0;
    transition: 0.3s;
    padding: 0 15px;
}

.sidebar:hover .nav-item span {
    opacity: 1;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 3px; height: 100%;
    background: #fff;
    transform: scaleY(0);
    transition: transform 0.3s;
}

.nav-item:hover::before {
    transform: scaleY(1);
}

.logo {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}