@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #36454f;
}

.container {
    position: relative;
    padding: 0 2rem;
    cursor: pointer;
    -webkit-box-reflect: below -2.5vh linear-gradient(transparent 30%, rgba(0, 0, 0, 0.3))
}

.letter {
    display: inline-block;
    color: #f4f4f4;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.container:hover .letter{
    animation: wavyText 1.2s 0.1s ease forwards;
    animation-delay: calc(var(--wavy) * 0.1s);
}

@keyframes wavyText {
    0% {
        transform: translateY(0);
    }
    20%, 25% {
        transform: translateY(-5vw) rotateX(calc(360deg * 3));
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
                    0 0 40px rgba(255, 255, 255, 0.5),
                    0 0 60px rgba(255, 255, 255, 0.5),
                    0 0 80px rgba(255, 255, 255, 0.5),
                    0 0 100px rgba(255, 255, 255, 0.5);
    }
}